@{
    ViewData["Title"] = "VoucherConfirmacion";
    CEntidades.EN_Voucher voucher = new CEntidades.EN_Voucher();
    voucher = ViewBag.voucherTransaccion;

    CEntidades.EN_Voucher_Pagado vpagado = new CEntidades.EN_Voucher_Pagado();
    vpagado = ViewBag.voucherPagado;

    int contador = 0;

}

@section Styles{

    <link href="~/css/voucherMP.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" />
    <link href="~/css/voucherConfirmacion.css" rel="stylesheet" />

}


<div class="card col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 alumno opciones-alumno">
    <div class="card-body card-alumno">
        <div class="row">
            <div class="col-12 title-horarios">
                <h3>Resumen de Transacción realizada</h3>
                @* <p>
                    Recuerde que nuestras clases son ahora por zoom. Consulte nuestra guía en el siguiente enlace: <a href="http://www.icpnarc.edu.pe/Guia/ZoomJovenesAdultos">Aquí</a>
                </p> *@
            </div>
            @if (voucher.IdTransaccion == "")
            {
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Alumno:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            @voucher.Fullname
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Horario:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            @voucher.Horario
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Curso:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            @voucher.Descurso
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="table-responsive">
                            <table class="table" id="mtable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Concepto</th>
                                        <th scope="col">Monto</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in voucher.conceptos)
                                    {
                                        contador = contador + 1;
                                        <tr>
                                            <th scope="row">@contador</th>
                                            <td>@item.DesConcepto</td>
                                            <td>s/@item.Monto.00</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Banco:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            @voucher.NomBanco
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Número de Operación:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            @voucher.NroOperacion
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Monto:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            <div class="quantity">
                                s/@voucher.Monto.00
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Email registrado:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            <div class="quantity">
                                @voucher.Email
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Celular registrado:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            <div class="quantity">
                                @voucher.Celular
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Estado:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            <div class="quantity">
                                En proceso
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Alumno:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            @vpagado.Fullname
                        </div>
                    </div>
                    @if (vpagado.cursosregistrados.Count() == 1)
                    {
                        @foreach (var item in vpagado.cursosregistrados)
                        {
                            <div class="form-group row">
                                <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Horario:</label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                                    @item.Horario
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Modalidad:</label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                                    @item.ModalidadEsp
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Curso:</label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                                    @item.DesCurso
                                </div>
                            </div>
                        }

                    }
                    else
                    {

                        @foreach (var item in vpagado.cursosregistrados)
                        {
                            <div class="form-group row">
                                <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-circle" aria-hidden="true"></i> Horario:</label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                                    @item.Horario
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-circle" aria-hidden="true"></i> Modalidad:</label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                                    @item.ModalidadEsp
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-circle" aria-hidden="true"></i> Curso:</label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                                    @item.DesCurso
                                </div>
                            </div>
                        }


                    }


                    <div class="form-group row">
                        <div class="table-responsive">
                            <table class="table" id="mtable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Concepto</th>
                                        <th scope="col">Monto</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in vpagado.conceptos)
                                    {
                                        contador = contador + 1;
                                        <tr>
                                            <th scope="row">@contador</th>
                                            <td>@item.DesConcepto</td>
                                            <td>s/@item.Monto.00</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Monto:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            <div class="quantity">
                                s/@vpagado.monto.00
                            </div>
                        </div>
                    </div>

                    @if (vpagado.vouchersregistrados.Count() == 1)
                    {
                        @foreach (var item in vpagado.vouchersregistrados)
                        {
                            <div class="form-group row">
                                <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Banco:</label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                                    @item.banco
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Número de Operación:</label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                                    @item.nrooperacion
                                </div>
                            </div>
                        }


                    }
                    else
                    {

                        @foreach (var item in vpagado.vouchersregistrados)
                        {
                            <div class="form-group row">
                                <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-circle" aria-hidden="true"></i> Banco:</label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                                    @item.banco
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-circle" aria-hidden="true"></i> Número de Operación:</label>
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                                    @item.nrooperacion
                                </div>
                            </div>
                        }


                    }

                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Email registrado:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            <div class="quantity">
                                @vpagado.email
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Celular registrado:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            <div class="quantity">
                                @vpagado.celular
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Estado:</label>
                        <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                            <div class="quantity">
                                En proceso
                            </div>
                        </div>
                    </div>
                </div>


            }




            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <button type="button" class="botones btn btn-outline-primary" onclick="downloadReport()">
                            Descargar <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <button type="button" class="botones btn btn-outline-primary" onclick="listaVouchers()">
                            Lista Pagos <i class="fa fa-list-alt"></i>
                        </button>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-4 col-sm-12 col-12">
                        <button type="button" class="botones btn btn-outline-primary" onclick="nuevoVoucher()">
                            Registra tu Matrícula <i class="fa fa-plus"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        .
    </div>
</div>



@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/messages/messages.es-es.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-storage.js"></script>

    <script>
        function _cabecera() {
            return "@Url.Content("~")"; // Handle slashes, nulls, etc...
        };
    </script>


    <script src="~/js/VoucherConfirmacion.js"></script>

}