@{
    Layout = null;
    CEntidades.EN_Voucher voucher = new CEntidades.EN_Voucher();
    voucher = ViewBag.voucherTransaccion;
    int contador = 0;
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">RESUMEN MATRÍCULA</h5>
</div>
<div class="modal-body">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="form-group row">
            <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Alumno:</label>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                @voucher.Fullname
            </div>
        </div>
        <div class="form-group row">
            <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Horario:</label>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                @voucher.Horario
            </div>
        </div>
        <div class="form-group row">
            <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Curso:</label>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                @voucher.Descurso
            </div>
        </div>
        <div class="form-group row">
            <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Banco:</label>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                @voucher.NomBanco
            </div>
        </div>

        <div class="form-group row">
            <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Nro de Operación:</label>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                @voucher.NroOperacion
            </div>
        </div>
        <div class="form-group row">
            <div class="table-responsive">
                <table class="table" id="mtable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in voucher.conceptos)
                        {
                            contador = contador + 1;
                            <tr>
                                <th scope="row">@contador</th>
                                <td>@item.DesConcepto</td>
                                <td>s/@item.Monto.00</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Monto:</label>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                <div class="quantity">
                    s/@voucher.Monto.00
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Email registrado:</label>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                <div class="quantity">
                    @voucher.Email
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Celular registrado:</label>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                <div class="quantity">
                    @voucher.Celular
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputText" class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label"><i class="fa fa-check" aria-hidden="true"></i> Estado:</label>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                @if (voucher.RegistradoC34)
                {
                    <div class="quantity">
                        Procesado
                    </div>
                }
                else
                {
                    <div class="quantity">
                        En Proceso
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
        Cerrar <i class="fa fa-window-close" aria-hidden="true"></i>
    </button>
    @* <button type="button" class="btn btn-outline-primary" onclick="downloadReportMP(@voucher.IdTransaccion)">
        Descargar <i class="fa fa-download"></i>
    </button> *@
</div>

